<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
    <div class="container">
        <div class="content">
          <!--pinterest logo-->
          <img src="/images/favicon.ico" alt="pin logo" class="img1" />
          <p class="header">Login account to see more</p>

          <% if(error.length>0){ %>
            <p class="error"><%= error %></p>
          <% } %>
  
          <form action="/login" method="post">

              
              <input type="text" placeholder="Username" name="username" required class="detail"><br/>
              
              <input type="password" name="password" placeholder="Password" required class="detail" />
                <input type="submit" class="btn int" value="Login My Account">
          </form>
          <a href="forgot">Forgot your password?</a>
  
          
          
  
          <footer>
            <p>
              By continuing, you agree to Captured
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <a href="/" style="margin-bottom: 30px; text-decoration-line: none; padding-bottom: 50px; font-size: large;">Not on Captured yet? Sign up</a>
          </footer>
        </div>
      </div>
      <!-- <a href="" class="upbtn">Sign up</a> -->
  
</body>
</html>